<html>
	<head>		
		<title>Protein-protein interactions Visualable Project</title>
		<link rel="icon" href="{{ static_url('img/favicon.ico') }}" type="image/x-icon">
		<script src="{{ static_url('js/jquery.min.js') }}"></script>		
		<script src="{{ static_url('js/jquery-ui.min.js') }}" type="text/javascript"></script>
		<link rel="stylesheet" href="{{ static_url('css/jquery-ui.css') }}" type="text/css" media="screen">
		<link rel="stylesheet" href="{{ static_url('css/style.css') }}" type="text/css" media="screen">
		<meta charset="utf-8"></meta>
		<script src="{{ static_url('js/d3.js') }}" charset="utf-8"></script>		
		<script type="text/javascript" charset="utf-8">			
			$("#search_bar").draggable();
			var protein = '';			

  			$(document).ready(function(){  					  							
				$("#submit").click(function(){	
					$('.stage').remove();					
					$('#submit').attr('disabled', true);
					
					protein =$("#protein").val();					
					var ajaxsrc='json?'+'protein='+protein;									
					console.log(ajaxsrc);
					d3.json(ajaxsrc)
						.on("beforesend", function(request) { request.withCredentials = true; })
						.get(function(error,json){
							$.getJSON(ajaxsrc,function(json){console.log('1223')})
							if (error) return console.warn(error);
							$('#submit').attr('disabled', false);							
							ppi_json = json;
							console.log(json)							
							render(ppi_json);							
						});
				});								

			});
		</script>
	</head>
	<body>
		<div class="container">
			<div id="search_bar">				
					<p>KeyWords</p>
					<input type="text" name="protein" id="protein" value="Cs6g02840.1">
					<input type="submit" id ="submit" value="Submit"/>				
			</div>
		</div>
		<div id="tooltip" class="hidden">
			<!-- take table css  -->
			<p><strong>Protein Info</strong></p>
			<div id="exp_info">
				<p>Name: <span id="value"></span></p>
				<p>Callus: <span id="callus"></span></p>
				<p>Flower: <span id="flower"></span></p>
				<p>Leaf: <span id="leaf"></span></p>
				<p>Fruit: <span id="fruit"></span></p>
				<p>Mixture1: <span id="mixture1"></span></p>
				<p>Mixture2: <span id="mixture2"></span></p>
				<p>Mixture3: <span id="mixture3"></span></p>
			</div>
		</div>
	</body>
</html>
<script src="{{ static_url('js/temp.js') }}" charset="utf-8"></script>		