<html>
	<head>
		<style>
			body, .stage {
				background: #042029;
				text-align: center;
			}
			#search_bar{
				float: left;
				color:red;
				width: 250px;
				height: 300px;
				margin-top: 100px;
				background-color: yellow;				
			}			
			.node {
			  stroke: #fff;
			  stroke-width: 1.5px;
			}
			.link {
			  stroke: #999;
			  stroke-opacity: .6;
			}
		</style>
		<title>Protein-protein interactions Visualable Project</title>
		<link rel="icon" href="{{ static_url('img/favicon.ico') }}" type="image/x-icon">
		<script src="{{ static_url('js/jquery.min.js') }}"></script>		
		<script src="{{ static_url('js/jquery-ui.min.js') }}" type="text/javascript"></script>
		<link rel="stylesheet" href="{{ static_url('css/jquery-ui.css') }}" type="text/css" media="screen">
		<meta charset="utf-8"></meta>
		<script src="{{ static_url('js/d3.js') }}" charset="utf-8"></script>		
		<script type="text/javascript" charset="utf-8">			
			$("#search_bar").draggable();
			var protein = '';				
  			$(document).ready(function(){
				
				$("#submit").click(function(){	
					$('.stage').remove();
					$('#submit').attr('disabled', true);
					protein =$("#protein").val();					
					var ajaxsrc='json?'+'protein='+protein;					
					d3.json(ajaxsrc)
						.on("beforesend", function(request) { request.withCredentials = true; })
						.get(function(error,json){
							$('#submit').attr('disabled', false);
							ppi_json = json;				        							
							render(ppi_json);							
						});
				});								

			});
		</script>
	</head>
	<body>
		<div class="container">
			<div id="search_bar">
				<form method="post" action="/json">
					<p>KeyWords</p>
					<input type="text" name="protein" id="protein" value="Cs9g02490.1">
					<input type="submit" id ="submit" value="Submit"/>
				</form>
			</div>
		</div>
	</body>
</html>
<script src="{{ static_url('js/temp.js') }}" charset="utf-8"></script>		